.h2 {
    font-family: serif;
    font-size: 20pt;
    color: black;
}

.p {
    font-family: 'Times New Roman';
    font-size: 12pt;
}

body {
    color: rgb(17, 17, 17);
    background: rgb(85, 83, 81);
}

header {
    color: aliceblue;
}

:hover {
    color: rgb(248, 248, 252);
}